@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--logo: rgb(25, 195, 125);
	--text: #212122;
	--primary: #8e8ea0;
	--secondary: #edecf0;
	--tertiary: #212122;
	--background: #fffefe;
	--border-radius: 0.77rem;
	--padding: 0.38rem;
	--transition: all 0.2s ease-in-out;
	--font-family: "Poppins", sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 100%;
	height: 100%;
	font-family: var(--font-family);
	background-color: var(--background);
}
.sidebar {
	width: 16rem;
	height: 100vh;
	position: fixed !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--tertiary);
	padding: 0.5rem;
}
.sidebar .header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}
.sidebar .header button {
	display: flex;
	align-items: center;
	padding: 1rem;
	cursor: pointer;
	color: var(--background);
	background-color: transparent;
	border: 0.1rem solid rgba(114, 114, 114, 0.7);
	border-radius: 0.4rem;
	height: 2.8rem;
}
.sidebar .header button:hover {
	transition: var(--transition);
	background-color: rgba(255, 255, 255, 0.055);
}
.sidebar .header .new_chat {
	justify-content: flex-start;
	width: 100%;
	font-family: var(--font-family);
}
.sidebar .header .new_chat i {
	font-size: 1.1rem;
	margin-right: var(--padding);
}
.sidebar .header .new_chat p {
	font-size: 0.9rem;
}
.sidebar .header .sidebar_btn {
	justify-content: center;
	width: 18%;
	font-family: var(--font-family);
}
.sidebar .header .sidebar_btn i {
	font-size: 1.1rem;
}
.sidebar .footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	bottom: 0;
	gap: 1.3rem;
	color: var(--background);
}
.sidebar .footer .delete_chat {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	gap: 0.5rem;
	padding: 1rem;
	cursor: pointer;
	color: var(--background);
	background-color: transparent;
	border: 0.1rem solid rgba(114, 114, 114, 0.7);
	border-radius: 0.4rem;
	height: 2.8rem;
	font-family: var(--font-family);
}
.sidebar .footer .delete_chat:hover {
	transition: var(--transition);
	background-color: rgba(255, 255, 255, 0.055);
}
.sidebar .footer .delete_chat p {
	font-size: 0.9rem;
}
.sidebar .footer .delete_chat i {
	font-size: 1.1rem;
}
.sidebar .footer .user_data {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--background);
	margin-bottom: 0.5rem;
}
.sidebar .footer .user {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.sidebar .footer .user img {
	width: 2.1rem;
	height: 2.1rem;
	border-radius: 50%;
}
.sidebar .footer .user_data i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.1rem;
	height: 2rem;
	width: 2rem;
	background-color: transparent;
	border-radius: 50%;
	cursor: pointer;
}
.sidebar .footer .user_data i:hover {
	transition: var(--transition);
	background-color: rgba(255, 255, 255, 0.055);
}
.main {
	width: calc(100% - 16rem);
	height: 100vh;
	margin-left: 16rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--background);
}
.main .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4rem 0 4rem 0;
	gap: 0.5rem;
}
.logo svg {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	color: #fff;
	padding: 0.5rem;
	background-color: var(--logo);
}
.logo p {
	font-size: 2.3rem;
	font-weight: 700;
	color: var(--text);
}
.main .box_container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: inherit;
	position: relative;
}
.box_container .box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.7rem;
	background: transparent;
	border-radius: var(--border-radius);
}
.box .heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.heading i {
	font-size: 2.5rem;
	margin-top: 2rem;
	color: var(--primary);
}
.box:hover .heading i {
	transition: var(--transition);
	color: var(--logo);
}
.heading p {
	font-size: 1.3rem;
	font-weight: 400;
	margin-bottom: 1rem;
	color: var(--primary);
}
.box .elements {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.elements .element {
	margin: 0.38rem 0;
	padding: 0.68rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: var(--secondary);
	border-radius: var(--border-radius);
}
.box:nth-child(1) .elements .element {
	cursor: pointer;
}
.elements .element:hover {
	outline: 0.1rem solid var(--primary);
}
.elements .element p {
	font-weight: 400;
	color: var(--primary);
}
.element i {
	font-size: 1.1rem;
	color: var(--primary);
}
.main .footer {
	width: 55rem;
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	gap: 0.5rem;
}
.main .footer .ftop {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}
.ftop .left {
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.ftop .left textarea {
	width: inherit;
	border: 0.1rem solid rgba(114, 114, 114, 0.7);
	border-radius: var(--border-radius);
	height: 3.7rem;
	max-height: 10rem;
	padding: 1rem 5rem 1rem 1rem;
	color: var(--text);
	font-size: 1.1rem;
	font-family: var(--font-family);
	resize: none !important;
}
.ftop .left textarea:focus {
	outline-color: var(--logo);
}
.ftop .left button {
	width: inherit;
	color: var(--background);
	background-color: var(--primary);
	width: 4rem;
	height: 2.5rem;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: calc(var(--border-radius) - 0.13rem);
	border: none;
	position: absolute;
	margin-right: 0.7rem;
	font-family: var(--font-family);
	transition: var(--transition);
	cursor: pointer;
}
.ftop .left button:hover {
	background-color: var(--logo);
}
.ftop i {
	display: flex;
	align-items: center;
	padding: 1rem;
	font-size: 1.6rem;
	width: 3.7rem;
	height: 3.7rem;
	cursor: pointer;
	color: var(--background);
	background-color: var(--logo);
	border-radius: 50%;
}
.main .footer .copyright p {
	color: var(--primary);
}
.main .footer .copyright span {
	color: var(--logo);
	cursor: pointer;
}
